<div class="container bg-light mt-4 rounded-3 py-2 px-4">
  <div class="display-4 fw-medium mb-3">Add a link</div>
  <form action="">
    <div class="mb-3">
      <label for="title" class="form-label fs-4 fw-medium">Enter Title:</label>
      <input type="text" class="form-control" id="title" placeholder="Enter Title" #newTitle>
    </div>
    <div class="mb-3">
      <label for="link" class="form-label fs-4 fw-medium">Enter Link:</label>
      <input class="form-control" id="link" type="url" placeholder="Enter URL Link" #newLink>
    </div>
    <div class="mb-3 text-center">
      <button type="button" class="fw-medium btn btn-outline-success" (click)="addArticle(newTitle , newLink)">Submit
        Link</button>
    </div>
  </form>


  <!-- <hr *ngIf="articles.length === 0"> -->

  <app-article *ngFor="let article of sortedArticle()" [article]="article"></app-article>
</div>